<nav class="navbar navbar-dark bg-dark mb-5 box">
  <a class="navbar-brand" href="/">Getzinger.me</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" routerLink="/cv" routerLinkActive="active">CV</a>
      <a class="nav-item nav-link" routerLink="/experience" routerLinkActive="active">Erfahrungen</a>
      <a class="nav-item nav-link" routerLink="/private" routerLinkActive="active">Privates</a>
      <a *ngIf="false" class="nav-item nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
      <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/sascha-getzinger-3b115946/" target="_blank">
        <i class="fa fa-3x fa-linkedin"></i>
      </a>
      <a class="nav-item nav-link" href="https://github.com/aengelus" target="_blank">
        <i class="fa fa-3x fa-github"></i>
      </a>
    </div>
  </div>
</nav>