<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Getzinger.me</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <div class="navbar-nav mr-auto">
        <ul class="navbar-nav">
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/cv" routerLinkActive="active">CV</a></li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/experience" routerLinkActive="active">Erfahrungen</a></li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/private" routerLinkActive="active">Privates</a></li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a *ngIf="false" class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a></li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav" id="refHolder">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/sascha-getzinger-3b115946/" target="_blank" id="ref">
        <i class="fa fa-3x fa-linkedin"></i>
      </a>
      <a class="nav-item nav-link" href="https://github.com/aengelus" target="_blank" id="ref">
        <i class="fa fa-3x fa-github"></i>
      </a>
    </div>
  </div>
</nav>
