#navbarContent
  margin-left: 20px

#refHolder
  //background-color: red

#ref
  padding: 10px
  margin-right: 10px
  color: grey
  text-shadow: 8px 8px #000000
  &:hover, &:active
    color: lightgrey
    //text-shadow: 2px 2px rgba(0, 0, 0, 0.4)

li
  //text-shadow: 6px 6px #000000
  &:hover
      color: lightgrey
      //text-shadow: 2px 2px rgba(0, 0, 0, 0.4)
      //font-size: 1.3em
  .active
      color: lightgrey
      //text-shadow: 0px 0px rgba(0, 0, 0, 0.4)
      //font-size: 1.3em !important

.navbar
  //background: rgba(255,255,255,0.7)
  box-shadow: 4px 8px 6px rgba(255,255,255, 0.8)
