<div class="container-fluid border">
  <div class="row border">
      <div class="col col-md-8 border">
        <p class="h1">Work Experience</p>
      </div>
      <div class="col col-md-4 border">
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
          Alpha<br/>
      </div>
      <div class="col col-md-12 border">
        <p class="h1">Work Experience</p>
      </div>
      <div class="col col-md-4 border">c</div>
  </div>
</div>