<div class="container-fluid col box img-fluid alpha">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
        class="form-control" name="" id="" placeholder="Sascha Getzinger" maxlength="42">

        <label for="email">Email Adresse</label>
        <input type="email"
        class="form-control" name="" id="" placeholder="getzinger.sascha@gmail.com" maxlength="42">

        <label for="subject">Anliegen</label>
        <input type="text"
        class="form-control" name="" id="" placeholder="Awesome" maxlength="160">

        <label for="comment">Kommentar</label>
        <textarea type="text"
        class="form-control" cols="40" rows="5" name="" id="" placeholder="Hey coole Seite, machst du soetwas auch für andere Leute?" maxlength="1000"></textarea>

        <div class="row justify-content-md-center g-recaptcha" data-sitekey="6LfoHmoUAAAAAEu6ImYGsNhwkm30TZ7JyOqkvmnc"></div>
        <button type="submit" class="btn btn-primary custom-btn container-fluid col-md-12">Und ab damit</button>
    </div>
</div>
