<div class="container-fluid col-md-8 box img-fluid alpha">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Sascha Getzinger">
        <small id="helpId" class="form-text text-muted">Help text</small>

        <label for="email">Email Adresse</label>
        <input type="email"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="getzinger.sascha@gmail.com">
        <small id="helpId" class="form-text text-muted">Help text</small>

        <label for="subject">Anliegen</label>
        <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Awesome">
        <small id="helpId" class="form-text text-muted">Help text</small>

        <label for="comment">Kommentar</label>
        <textarea type="text"
        class="form-control" cols="40" rows="5" name="" id="" aria-describedby="helpId" placeholder="Hey coole Seite, machst du soetwas auch für andere Leute?"></textarea>
        <small id="helpId" class="form-text text-muted">Help text</small>

        <button type="submit" class="btn btn-primary custom-btn container-fluid col-md-12">Und ab damit</button>
    </div>
</div>