$color: lightgrey
$family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

.g-recaptcha
  padding: 25px

label
  font-size: 1.2em
  font-weight: bold
  margin-top: 20px

.form-group
  padding: 0px

  ::-webkit-input-placeholder
    color: $color
    font-family: $family

  :-moz-placeholder
    color: $color

  ::-moz-placeholder
    color: $color

  :-ms-input-placeholder
    color: $color
