<div class="container-fluid">
  <div class="card-deck">
    <div class="card text-center" *ngFor="let interest of myJson && myJson?.interests; let i = index" [attr.data-index]="i">
      <div class="card-header text-center">{{ interest.subtext }}</div>
      <img class="card-img-top img-fluid" src="{{ interest.img }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title h4">{{ interest.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text text-left">{{ interest.description }}</p>
      </div>
          <div class="card-footer mb-2 text-muted" *ngIf="interest.education!=0">
            {{ interest.education }}
          </div>
    </div>
  </div>
</div>
