@mixin background($imgpath,$position:0 0,$repeat: no-repeat)
    background: 
        image: url($imgpath)
        position: $position
        repeat: $repeat
        size: cover
        object-fit: contain
    width: 100%
    height: 740px

#image 
    @include background('../../../assets/rock-architecture-wood-house-window-building-771239-pxhere.com.jpg')

.alpha
    background-color: linear-gradient(to right, rgba(69, 81, 96, 0), rgba(123, 137, 150, 1))