<div class="container col">
<div class="row box jumbotron">
  <div class="col">
    <p class="h1">Hey, ich bin Sascha Getzinger</p>
    Ich studiere derzeit "International Petroleum Engineering" und verbringe meine Freizeit um mich im Bereich des Finanzwesens so wie Software und Technology Entwicklungen weiterzubilden.
    <br/>
    Was du hier findest? Ein paar 
    <ul>
      <li>Was ich mache?</li>
        <ul><li>asdf</li></ul>
      <li>Was ich mache?</li>
        <ul><li>asdf</li></ul>
      <li>Was ich mache?</li>
        <ul><li>asdf</li></ul>
      <li>Was ich mache?</li>
        <ul><li>asdf</li></ul>
    </ul>
     Ich studiere "International Petroleum Engineering", liebe das Finanzwesen so wie mich im Programmieren und in neuen Technologie sektoren weiterzubilden.
    Woher ich komme?
    Wieso diese merkwuerdige Kombination?
    Was du hier findest?

  </div>
</div>