<div class="container col">
<!--  <h1>{{fun()}}</h1>  -->
<div class="row box jumbotron">
  <div class="col">
    <samp class="typewriter">
      <p>Hey Leute. Ich bin der Sascha und freue mich euch auf meiner Seite willkommen zu heißen.</p><br/><br/>
      <p>Ich studiere "International Study Program in Petroleum Engineering" und habe eine rießengroße Leidenschaft für den Bereich Finanzwesen und Kochen.</p><br/>
      <p>Wenn ihr noch mehr über mich erfahren wollt, nutzt doch einfach den Button.</p>
      <br/><br/><br/>
      <div class="">
        <button type="button" class="btn btn-light pull-left" routerLink="/cv">Zeige mir mal deinen Lebenslauf</button>
        <button type="button" class="btn btn-light pull-right" routerLink="/private">Was machst du den privat?</button>
      </div>
      
      <div class="test"></div>

    </samp>
  </div>
</div>
</div>