<div class="jumbotron box">
  <h1 class="display-3">Sascha Getzinger</h1>
  <p class="lead">Software and Technology enthusiast</p>
  <hr class="my-2">
  <div class="">Life is an ongoing lesson, and you are only the sum of parts you have taken with you during it.<br/>
      Everytime I got the possibility to learn new things I tried to take it.<br/>
      As a conscript instructor at the Austrian armed forces I learned, what it means to lead and also to be fair.<br/>
      During my time as a testing engineer and manager I recognised, there is always a bug, you have to find them, analyse them, recreate the process to let it show itself and bring up a solution how to fix it.<br/>
      I started during my time as a testengineer my A Levels as an external after work and learned how to organise myself.<br/>
      All those experiences are bringing me further during my studies as a petroleum engineer.<br/>
      Personally I think these parts are creating great engineers and future leaders, therefore I will accept all upcoming challenges to become one.</div>
</div>