.btn
  box-shadow: 10px 10px 5px rgba(80,80,80, 0.5)
  border: 0.5px outset black
    //none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit;

.type-it, .shell_text
  //box-shadow: 10px 10px 5px rgba(80,80,80, 0.5)
  //background: rgba(0,0,0,0.7)
  font-family: 'Anonymous Pro', monospace
  color: rgba(255, 255, 255, 0.99)
  min-width: 240px
  margin-left: 6px

.shell
  font-family: 'Orbitron', sans-serif
  box-shadow: 10px 10px 5px rgba(80,80,80, 0.5)
  background: rgba(48, 10, 36,0.85)
  color: rgba(49, 255, 45,0.7)
  min-width: 330px
  @media only screen and (device-aspect-ratio: 40/71) //Iphone 5
    min-width: 300px
    max-width: 400px
    margin-left: -20px
    margin-right: -10px

.shell-header
  background: rgba(76, 74, 68,0.8)
  box-shadow: 1px 1px 20px rgba(255,255,255, 0.3)
  color: rgba(255,255,255, 0.8)
  i
    padding: 3px
    padding-left: 5px

.shell-title
  margin-left: 20px

.shell-login
  margin-top: 5px
  margin-bottom: 5px
  padding-left: 10px
  font-family: 'Anonymous Pro', monospace

.tild
  margin-left: 2px
  margin-right: 2px

.dollar

.fa-window-close
  color: rgba(238, 122, 85, 0.7)

.link
  margin-top: 16px
  @media only screen and (device-aspect-ratio: 40/71) //Iphone 5
    min-width: 150px
    max-width: 300px
    float: left
    margin-bottom: 28%
  @media only screen and (max-device-width: 800px) //Iphone 5
    float: left
    margin-bottom: 25%
  button
    padding: 8px
    @media only screen and (device-aspect-ratio: 40/71) //Iphone 5
      font-size: 0.8em
