$borderRadius: 20px

html, body
  font-family: 'Lato', sans-serif
  background: transparent url("./assets/background.jpg") no-repeat fixed center
  background-size: 100% 100%
  text-decoration: none

a
  color: white !important
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 1)
  font-family: 'Lato', sans-serif
  &:link and &:visited and &:hover and &:active
    color: white
    text-decoration: none


.container
  //border: 1px solid black
  margin-top: 10px
  margin-left: 50px
  margin-right: 50px
  padding: 10px
  margin-bottom: 30px

.box
  border: 0.3px solid black
  padding: 10px
  padding-top: 20px
  padding-bottom: 20px
  margin: 25px
  background: rgba(255,255,255,0.7)
  border-radius: 10px
  box-shadow: 10px 10px 5px rgba(80,80,80, 0.5)

.customHeader
  //border: 1px solid black
  background: rgba(255,255,255,0.4)
  -webkit-border-radius: $borderRadius
  -moz-border-radius: $borderRadius
  border-radius: $borderRadius
  box-shadow: 12px 12px 30px rgba(80,80,80, 0.6)
  padding: 8px
