<div class="container col box">
  <h2 class="text-center col customHeader">Skillset</h2>
  <div class="card-deck">
    <div class="card text-center" *ngFor="let skill of myJson?.skills; let i = index" [attr.data-index]="i">
      <div class="card-header mb-2">{{ skill.level }}</div>
      <img class="card-img-top img-fluid" src="{{ skill.img }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title h4">{{ skill.name }}</h5>
        <p class="card-text">{{ skill.description }}</p>
      </div>
        <button class="btn" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
            Zeig mir deinen<br/>
            Tech Stack
          </button>
        <div class="card-footer collapse" id="collapse">
          <ul *ngFor="let key of skill.keywords">
            <li>{{key}}</li>
          </ul>
        </div>
    </div>
  </div>
  <p></p>
  <h2 class="text-center col customHeader">Sprachkenntnisse</h2>
  <div class="card-deck flag">
    <div class="card text-center" *ngFor="let language of myJson && myJson?.languages; let i = index" [attr.data-index]="i">
      <div class="card-header mb-2">{{ language.name }}</div>
      <img class="card-img-top img-fluid" src="{{ language.img }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ language.fluency }}</h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text text-left" *ngIf="language.certificate!=0"><strong>Zertifikate</strong></p>
        <ul *ngFor="let cert of language.certificate">
          <li>{{ cert }}</li>
        </ul>
      </div>
      <div class="card-footer mb-2 text-muted">
          Sprachlevel: {{ language.level }}
      </div>
    </div>
  </div>
</div>
