@import ../../../../assets/sass/card_styling
$borderRadius: 20px

.btn
  margin: 20px
  background-color: rgba(80,80,80, 0.6)
  -webkit-text-fill-color: white
  &:hover
    color: lightgrey
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4)
    font-size: 1.1em
    box-shadow: 12px 12px 30px rgba(80,80,80, 0.6)
    border: 0.5px solid black

ul
  list-style-type: none
  float: left

.flag
  padding-top: 20px
  background: transparent url("../../../../assets/world-67861_960_720.png") no-repeat fixed center bottom
  background-size: 70% 70%
  margin-bottom: 20px
