$borderRadius: 20px

.business-card
  //background: transparent url("../../../../assets/world-67861_960_720.png") no-repeat fixed top left
  //background-size: 70% 70%
  min-width: 250px
  img
    border-radius: 20px
    min-width: 100%
    max-height: 50%
    display: block
    margin-left: auto
    margin-right: auto
    width: 50%
    box-shadow: 10px 10px 5px rgba(80,80,80, 0.3)
    margin-bottom: 20px
    margin-top: 20px
    @media only screen and (min-width: 1440px)
      min-width: 320px
      max-height: 600px
  .description
    border-radius: 20px
    margin-top: 32px
    padding: 8px
    line-height: 2
    list-style: none
    font-family: 'Lato', sans-serif
    a, a:link, a:visited, a:hover, a:active
      text-decoration: none
      color: black !important
      text-shadow: 1px 0px 0px rgba(0, 0, 0, 1)
      font-family: 'Lato', sans-serif

.chapter .chapter-item
  padding: 8px
  margin-bottom: 24px

.chapter-item
  -webkit-border-radius: $borderRadius
  -moz-border-radius: $borderRadius
  border-radius: $borderRadius
  box-shadow: inset 0 0 0px 0px rgba(255,255,255, 1)   // (inset or offset) horizontal offset, vertical offset, blur radius, spread radius, color
  background: rgba(255,255,255, 0.8)
  @media only screen and (max-width: 1200px)
      min-width: 150px
  .chapter-header
    background: linear-gradient(75deg, rgba(80,80,80,0.8), rgba(0,0,0,0.2))
    text-align: left
    padding: 12px
    padding-left: 32px
  .chapter-date
    padding: 24px
    margin-left: 20px
    margin-right: 40px
    align-self: center
    font-family: 'Lato', sans-serif
    font-weight: bold
    min-width: 300px
    max-width: 400px
    @media only screen and (max-width: 1200px)
      min-width: 150px
      max-width: 300px
      //font-size: 0.7em
  .chapter-description
    padding: 16px
    margin: 10px
    margin-right: 20px
    font-family: 'Anonymous Pro', monospace
    .head
      padding: 8px
      font-family: 'Lato', sans-serif
      font-size: 1.5em
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4)
.chapter-highlights
  margin-top: 16px
  list-style-type: none
  font-family: sans-serif
  font-family: 'Merriweather', serif
  padding: 2px

.custom-bar
  background-color: rgba(40,189,191,0.5)
  color: white
  padding: 5px
  margin: 10px
