<div class="container col box">
  <div class="row ">
    <div class="col-md-3 nopadding">
      <img class="img-fluid box" src="../../../../assets/self.JPG" />
      <h3>
        Sascha Getzinger
      </h3>
      <br />
      <div class="text-left">
        <h3 class="">
          asdfsdfadfs
        </h3>
        <p>
          <i class="fa fa-briefcase fa-fw points"></i>Designer
        </p>
        <p>
          <i class="fa fa-briefcase fa-fw points"></i>Designer
        </p>
        <p>
            <i class="fa fa-briefcase fa-fw points"></i>Designer
          </p>
          <p>
            <i class="fa fa-briefcase fa-fw points"></i>Designer
        </p>
      </div>
    </div>
    <div class="col ">
      <h2 class="align-self-center">
        Professional Experience 
      </h2>
      <div class="container col-md-12 ">
        <h4 class="align-self-center">
          Ohh my Gosh
        </h4>
        <div class="row ">
          <div class="col-md-3 ">
            Seit 10/20014
          </div>
          <div class="col ">
            <h5>
              Montanuniversität Leoben
            </h5>
            <ul>
              <li>
                International Study program in Petroleum Engineering
              </li>
              <ul>
                <li>
                  Ø 2,5 äquivalent zu US-Grade B und GPA 3.1
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
      <h2 class="align-self-center">
        Professional Experience 
      </h2>
      <div class="container col-md-12 ">
        <h4 class="align-self-center">
          Ohh my Gosh
        </h4>
        <div class="row ">
          <div class="col-md-3 ">
            Seit 10/20014
          </div>
          <div class="col ">
            <h5>
              Montanuniversität Leoben
            </h5>
            <ul>
              <li>
                International Study program in Petroleum Engineering
              </li>
              <ul>
                <li>
                  Ø 2,5 äquivalent zu US-Grade B und GPA 3.1
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
      <h2 class="align-self-center">
        Professional Experience 
      </h2>
      <div class="container col-md-12 ">
        <h4 class="align-self-center">
          Ohh my Gosh
        </h4>
        <div class="row ">
          <div class="col-md-3 ">
            Seit 10/20014
          </div>
          <div class="col ">
            <h5>
              Montanuniversität Leoben
            </h5>
            <ul>
              <li>
                International Study program in Petroleum Engineering
              </li>
              <ul>
                <li>
                  Ø 2,5 äquivalent zu US-Grade B und GPA 3.1
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
      <h2 class="align-self-center">
        Professional Experience 
      </h2>
      <div class="container col-md-12 ">
        <h4 class="align-self-center">
          Ohh my Gosh
        </h4>
        <div class="row ">
          <div class="col-md-3 ">
            Seit 10/20014
          </div>
          <div class="col ">
            <h5>
              Montanuniversität Leoben
            </h5>
            <ul>
              <li>
                International Study program in Petroleum Engineering
              </li>
              <ul>
                <li>
                  Ø 2,5 äquivalent zu US-Grade B und GPA 3.1
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>